* {
  margin: 0;
  padding: 0;
}

button:not(:disabled) {
  cursor: pointer;
}

body {
  height: 100vh;
}

.container {
  padding: 1rem;
}

.buttons-container {
  padding-bottom: 1rem;
  width: 240px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.buttons-container button {
  border: none;
  background: #1e2ede;
  color: white;
  font-size: 1rem; 
  font-weight: bold;
  border-radius: 0.4rem;
  height: 2rem;

  transition: filter 0.2s;
}

.buttons-container button:not(:disabled):hover {
  filter: brightness(0.8);
}

.content-container {
  display: flex;
}

.content-container .content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body h3 {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.grid {
  width: 240px;
  height: 480px;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
  border: 2px solid green;
}

.tetramino {
  border: 2px solid black !important;
}

#div-transparent {
  border: 2px solid transparent;
}

.mini-grid {
  width: 144px;
  height: 144px;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}

.mini-grid div {
  width: 20px;
  height: 20px;
  border: 2px solid green;
}

.disabled {
  cursor: not-allowed; 
  opacity: 0.6;
}

.blue {
    background: linear-gradient(to right, #0033cc, #99b3ff);
}

.yellow {
    background: linear-gradient(to right, #ffcc00, #ffeb99);
}

.red {
    background: linear-gradient(to right, #ff3300, #ff5c33, #ff8566);
}

.orange {
    background: linear-gradient(to right, #b34700, #ff751a, #ff944d);
}

.pink {
    background: linear-gradient(to right, #cc0099, #ff80ff, #ff99ff);
}

@media (max-width: 349px) {
  .grid {
    width: 160px;
    height: 320px;
  }

  .grid div {
    width: 14px;
    height: 14px;
    border: 1px solid green;
  }

  #div-transparent {
    border: 1px solid transparent;
  }

  .tetramino {
    border: 1px solid black !important;
  }

  .mini-grid {
    width: 64px;
    height: 64px;
    margin-left: 5px;
  }
  
  .mini-grid div {
    width: 14px;
    height: 14px;
    border: 1px solid green;
  }

  .mini-grid .mobile-hidden {
    border: 1px solid transparent;
  }

  body h3 {
    font-size: 1rem;
  }

  .commands-controller {
    display: grid;
    grid-template-columns: repeat(3, 55px);
    grid-template-rows: 45px 45px;
    gap: 5px;

    margin-top: 7px;
    margin-left: 30px;
  }

  .commands-controller button {
    border: none;
    background: #EADCD3;
    border-radius: 0.25rem;
  }

  .commands-controller img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 350px) and (max-width: 450px) {
  .grid {
    width: 200px;
    height: 400px;
  }

  .grid div {
    width: 18px;
    height: 18px;
    border: 1px solid green;
  }

  #div-transparent {
    border: 1px solid transparent;
  }

  .tetramino {
    border: 1px solid black !important;
  }

  .mini-grid {
    width: 80px;
    height: 80px;
    margin-left: 10px;
  }
  
  .mini-grid div {
    width: 18px;
    height: 18px;
    border: 1px solid green;
  }

  .mini-grid .mobile-hidden {
    border: 1px solid transparent;
  }

  body h3 {
    font-size: 1.2rem;
  }

  .commands-controller {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: 50px 50px;
    gap: 7px;

    margin-top: 8px;
    margin-left: 50px;
  }

  .commands-controller button {
    border: none;
    background: #EADCD3;
    border-radius: 0.25rem;
  }

  .commands-controller img {
    width: 100%;
    height: 100%;
  }
}