.content-container {
    display: flex;
}

.grid {
    width: 240px;
    height: 480px;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
    border: 2px solid green;
}

.tetramino {
    background-color: blue;
    border: 2px solid black !important;
}

#div-transparent {
    border: none;
}

.mini-grid {
    width: 120px;
    height: 120px;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}

.mini-grid div {
    width: 20px;
    height: 20px;
    border: 2px solid green;
}

.disabled {
    cursor: not-allowed;
}

.blue {
    background: blue;
}

.yellow {
    background: yellow;
}

.red {
    background: red;
}

.orange {
    background: orange;
}

.pink {
    background: palevioletred;
}